<div class="contents-container">
  <h3>Edit a video</h3>
  <form action="/videos/{{video.id}}/updates" method="POST">
    <input type="text" id="title-input" name="title" value="{{video.title}}">
    {{#with video.errors.title as |error|}}
    <span class="error">{{error.message}}</span>
    {{/with}}
    <input type="text" id="videoUrl-input" name="url" value="{{video.videoUrl}}">
    {{#with video.errors.videoUrl as |error|}}
    <span class="error">{{error.message}}</span>
    {{/with}}
    <textarea type="text" id="description-input" name="description">{{video.description}}</textarea>
    {{#with video.errors.description as |error|}}
    <span class="error">{{error.message}}</span>
    {{/with}}
    <button type="submit" id="submit-button">Submit</button>
  </form>
</div>
